{% extends 'ecom/admin_base.html' %}
{% load static %}
{% block content %}


<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }

    .float{
	position:fixed;
	width:70px;
	height:70px;
	bottom:60px;
	right:60px;
	background-color:rgb(91, 198, 248);
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 3px 3px 3px #999;
}

.my-float{
	margin-top:22px;
}
  </style>
</head>



<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Қоймадағы материалдар тізімі</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
          <th>Сипаттамасы</th>
          <th>Көлесі</th>
          <th>Өлшеу бірліктері</th>
          <th>Сатып алу бағасы</th>
          <th>Сату бағасы</th>
          <th>Жаңарту</th>
          <th>Өшіру</th>
        </tr>
      </thead>
      {% for p in warehouses %}
  {% if p %}

      <tr>
        <td>{{p.description}}</td>
        <td> {{p.amount}}</td>
        <td> {% if p.uom %} {{ p.uom}} {% endif %}</td>
        <td>{{p.purchase_price}}</td>
        <td>{{p.selling_price}}</td>
        <td><a class="btn btn-primary btn-xs" href="{% url 'update-warehouse' p.id  %}"><span class="glyphicon glyphicon-edit"></span></a></td>
        <td><a class="btn btn-danger btn-xs" href="{% url 'delete-warehouse' p.id  %}"><span class="glyphicon glyphicon-trash"></span></a></td>

      </tr>
      {%else%}
      <br><br><br>
      <h1>қоймалар жоқ</h1>
      {% endif %}
      {% endfor %}
    </table>
  </div>
</div>

<!-- add product floating button -->
<a href="/admin-add-warehouse" class="float">
<i class="fa fa-plus my-float"></i>
</a>


{% endblock content %}
